.pdfequips-pdf-editor {
  .header-tools {
    .header-tools-nav {
      @include extend("d-flex justify-content-between");
      .logo-info-wrapper {
        @include extend("d-flex justify-content-between");
        > svg {
          width: 7em;
          height: 5em;
        }
      }
      .file-info-panel {
        @include extend(
          "d-flex pt-2 align-items-center justify-content-between"
        );
        .file-name {
          &:hover {
            // Styles for hover state
            text-decoration: underline;
          }
        }

        .document-location {
          // Styles for the document location link
          color: #0984e3;
          text-decoration: none;
          // Add any other styles for the document location link

          &:hover {
            // Styles for hover state
            text-decoration: underline;
          }
        }

        .icon-dot {
          // Styles for the dot icon
          color: #95a5a6;
          font-size: 0.75em;
          // Add any other styles for the dot icon
        }
        .icon-clock {
          color: #0984e3;
        }

        .modified-label {
          // Styles for the "Modified On" label
          font-weight: bold;
          // Add any other styles for the modified label
        }

        .modified-date {
          color: #95a5a6;
        }
      }
    }
    .file-manager-container {
      @include extend("d-flex align-items-center justify-content-between");
      .button-group {
        @include extend("d-flex");
        button {
          @include extend("d-flex align-items-center justify-content-between");
        }
      }
      outline: 1px solid;
      flex: 0 1 28.33%;
    }
  }
  .pdf-tools {
    $bg: #2c3e50;
    background-color: lighten($bg, 50%);
    @include extend("py-1");
    @include extend("d-flex justify-content-between");
    .tool-row {
      @include extend("d-flex justify-content-between");
    }
    .a {
      flex: 0 1 12%;
    }
    .b {
      flex: 0 1 61.03%;
    }
    .c {
      flex: 0 1 17%;
    }
    .d {
      flex: 0 1 8.2%;
    }
    .btn-stack {
      outline: none;
      flex: 0 1 2.5rem;
      @include extend(
        "d-flex flex-column justify-content-between align-items-center"
      );
      background: transparent;
      transition: 0.3s;
      &:hover,
      &.active {
        background-color: lighten($bg, 25%);
      }
      padding: 0.25rem;
      font-size: small;
      border: none;
      min-height: 2.5rem;
      border-radius: 0.5rem;
    }
  }
}
