.pdfequips-pdf-editor {
  // some global variables
  $red: #d63031;
  $dark: #95a5a6;
  @import "./placeholders";
  @import "./header-tools";
  .pdf-tools {
    $bg: #2c3e50;
    overflow: auto;
    background-color: lighten($bg, 50%);
    @include extend("py-1");
    @include extend("d-flex justify-content-between");
    .tool-row {
      @include extend("d-flex justify-content-between");
    }
    .a {
      flex: 0 1 12%;
    }
    .b {
      flex: 0 1 61.03%;
    }
    .c {
      flex: 0 1 17%;
    }
    .d {
      flex: 0 1 8.2%;
    }
    .btn-stack {
      flex: 0 1 2.5rem;
      @include extend(
        "d-flex flex-column justify-content-between align-items-center btn-reset rounded-1 transition"
      );
      background: transparent;

      &:hover,
      &.active {
        background-color: lighten($bg, 25%);
      }
      padding: 0.25rem;
      font-size: small;
      border: none;
      min-height: 2.5rem;
      // border-radius: 0.5rem;
    }
  }
  .edit-area {
    @include extend("d-flex");
    > * {
      min-height: 100vh;
    }
    .add-blank-page {
      .manager-add-blank-page {
        @include extend("d-flex justify-content-between align-items-center py-1 transition");
        cursor: pointer;
        opacity: 0;
        &:hover {
          opacity: 1;
        }
        .bar {
          display: inline-flex;
          flex: 0 1 39%;
          height: 2px;
          background-color: $red;
        }
        button {
          @include extend("btn-reset text-white rounded-circle p-0 d-flex justify-content-center align-items-center");
          width: 1em;
          height: 1em;
          background-color: $red;
        }
      }
    }
    @import "./edit-area/page-manager";
    @import "./edit-area/editing-area";
  }
  .page {
    border: none !important;
  }
  .page *:focus {
    outline: none;
  }
}
