%active-list-item {
  color: #495057;
  background-color: darken(#f8f9fa, 20%);
  border-color: darken(#f8f9fa, 20%);
}

%btn-reset {
  outline: none;
  background: none;
  border: none;
}

%light-btn {
  $light: #dfe6e9;
  background-color: $light;
  &:not(:disabled) {
    &:hover {
      background-color: darken($light, 10%);
    }
    &:active {
      background-color: lighten($light, 3%);
    }
  }
}

%transition {
  transition: 0.3s;
}
