section.editing-area {
  min-height: 100vh;
  background-color: $dark;
  // margin-left: 14%;
  flex: 1;
  .wysiwyg-editor {
    // zoom: 1.3;
    *:focus {
      outline: none;
    }
    .particle-container {
      @include extend("position-absolute w-100 h-100");
      top: 0;
      left: 0;
    }
    .particle-wrapper {
      @include extend("position-absolute t-0 l-0 w-100 h-100");
      border: 2px solid red;
      // z-index: 1;
    }
    .page {
      border: none !important;
      overflow: hidden;
    }
    .text {
      border: 1px solid red;
      min-width: 1ch;
      min-height: 1ch;
      @include extend("position-absolute");
    }
  }
  .page-toolbar {
    @include extend("d-flex justify-content-between align-items-center px-3");
    color: white;
    %button {
      @include extend("btn-reset transition rounded py-1 text-white");
      padding-left: 0.78em;
      padding-right: 0.78em;
      border: 0.5px solid transparent;
      font-size: 1.025em;
      &:hover {
        background-color: darken($dark, 28%);
        border-color: $red;
      }
    }
    .editor-add-blank-page {
      button {
        @extend %button;
      }
    }
    .more-tools {
      @extend %button;
    }
  }
}
